
.mail{
	.wrap{
		display: flex;
		flex-direction: column;

		h1{
		    color: @red;
		    font-size: 5rem;
		    line-height: 5rem;
		    font-family: GothamProBlack;
		    margin-top: 8rem;
		}
	}
}

.fullpage{
	width: 100%;
	height:100vh;
}