
/******************* roboto *************************/
@font-face {
  font-family: 'robotoregular';
  src: url('../src/fonts/roboto/Roboto-Regular.eot');
  src: url('../src/fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../src/fonts/roboto/Roboto-Regular.svg#robotoregular') format('svg'), /* Legacy iOS */ url('../src/fonts/roboto/Roboto-Regular.woff?4') format('woff'), /* Modern Browsers */ url('../src/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url('../src/fonts/roboto/Roboto-Medium.eot');
  src: url('../src/fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../src/fonts/roboto/Roboto-Medium.svg#robotomedium') format('svg'), /* Legacy iOS */ url('../src/fonts/roboto/Roboto-Medium.woff?4') format('woff'), /* Modern Browsers */ url('../src/fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('../src/fonts/Roboto-Light.eot');
  src: url('../src/fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../src/fonts/roboto/Roboto-Light.svg#robotolight') format('svg'), /* Legacy iOS */ url('../src/fonts/roboto/Roboto-Light.woff?4') format('woff'), /* Modern Browsers */ url('../src/fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/******************************************************/
@font-face {
    font-family: "GothamProBlack";
    src: url("../src/fonts/gothampro/GothamProBlack.eot");
    src: url("../src/fonts/gothampro/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../src/fonts/gothampro/GothamProBlack.woff") format("woff"),
    url("../src/fonts/gothampro/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProLight";
    src: url("../src/fonts/gothampro/GothamProLight.eot");
    src: url("../src/fonts/gothampro/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../src/fonts/gothampro/GothamProLight.woff") format("woff"),
    url("../src/fonts/gothampro/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/******************************************************/

@bgcolor: #e1f0f5;
@fontcolor: #041c35;
@content-width: 1200px;

h1,h2,h3{
	font-family: 'robotoregular';
}

body{
    width:100%;
    height:100vh;
    font-family: 'robotoregular', sans-serif;
    font-weight: 300;
    background: #6dbbe2 url('../src/img/sky.png') top center no-repeat;
    overflow:hidden;
    color: @fontcolor;
}

html,body,ul{
    padding:0;
    margin:0;
    border:0;
}


/*header*/
header{
    position:fixed;
    top:0;
    width:100%;
    background: #BEE1EF;
    z-index:999;
    height:60px;
    box-shadow: 0 0 1px 1px #172c42a3;

    .header-wrap{
        display: flex;
        align-items: center;
        height: 100%;

        img.logo{
            height: 70%;
        }

        .mail{
            width: 2.6rem;
            height: 2rem;
            margin-left: 1rem;
            cursor: pointer;
            background: url(../src/img/contact.png) no-repeat;
            background-size: 100%;
            background-position: 0;
            position: relative;

            &.active{
                .wrapp{
                    display: block;
                    z-index: 99;
                }
            }

            .wrapp{
                position: absolute;
                top: 2.4rem;
                left: -5.7rem;
                background: @bgcolor;
                padding: 1rem;
                text-align: center;
                box-shadow: 0 0 1px 1px #4646469e;
                z-index: -1;
                display: none;
                cursor: default;

                a{
                    color: #36363D;
                }

                .btn-request{
                    background: #172c42;
                    color: #fff;
                    font-size: 1rem;
                    cursor: pointer;
                    margin: 0 auto;
                    margin-top: .5rem;
                    width: 7.5rem;
                    padding: .5rem 0rem;
                    border-bottom: 4px solid #58b2f6;

                    &:hover{
                        background: #223d5a;
                    }

                    svg{
                        width: 16px;
                        height: 16px;
                        position: relative;
                        top: 2px;
                        left: -3px;
                    }
                }

                &:before{
                    content: '';
                    position: absolute;
                    top: -9px;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 15px 15px;
                    border-color: transparent transparent @bgcolor;
                    line-height: 0;
                }
            }            
        }
    }
}
header:before{
    clear:both;
}
header:after{
    clear:both;
}

nav{
    position: absolute;
    width: 100%;
    top: 0;
    left: -100%;
    background: #BEE1EF;
    padding: 10px;
    padding-bottom:50px;
    transition:left 0.5s ease;
}

header nav ul{
    list-style-type:none;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    li{
        margin-right: 0;
        margin-top: 2rem;

        a{
            display: block;
            text-decoration: none;
            letter-spacing: .15em;
            position: relative;
            font-family: robotoRegular;
            color: #041c35;
            z-index: 1;
            text-transform: uppercase;
            font-size: 1rem;

            /*&:before{
                content: "";
                position: absolute;
                width: 0;
                height: 4px;
                bottom: -4px;
                left: -5px;                
                background: #6e7a86;
                z-index: -1;
                opacity: 1;
                transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
            };

            &:hover{
                &:before{
                    transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
                    width: 115%;
                };
            };*/

            &.active{
                color: #041c35;
                font-family: robotoregular;
                font-weight: 700;

                /*&:before{
                    content: "";
                    position: absolute;
                    width: 115%;
                    height: 4px;
                    bottom: -4px;
                    left: -5px;
                    background: #6e7a86;
                    z-index: -1;
                    opacity: 1;
                };*/
            }
        }
    }
}


.mobile-link{
    position: absolute;
    display: block;
    right: 2rem;
    top: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.mobile-link:before{
    content: '';
    position: absolute;
    top: 15px;
    display: block;
    width: 100%;
    height: 5px;
    background: @bgcolor;
    transition:all 0.3s ease;
}
.mobile-link:after{
    content: '';
    position: absolute;
    top: 30px;
    display: block;
    width: 100%;
    height: 5px;
    background: @bgcolor;
    transition:all 0.3s ease;
}
.close:before{
    transform:rotate(45deg);
    transition:all 0.3s ease;
    top:23px;
}
.close:after{
    transform:rotate(-45deg);
    transition:all 0.3s ease;
    top:23px;
}

/*end header*/

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
}

section{

    &.animateResize{
        /*медленно--быстро--медленно*/
        -webkit-transition-duration:2s;
        -moz-transition-duration:2s;
        -ms-transition-duration:2s;
        -o-transition-duration:2s;
        transition-duration:2s;    
        -webkit-transition-timing-function: cubic-bezier(0.49, 0.02, 0, 1);
        transition-timing-function: cubic-bezier(0.49, 0.02, 0, 1);
    }

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; 
    
    -webkit-transform: perspective(900px) translate3d(0px,0px,-160px) ;
    -moz-transform: perspective(900px) translate3d(0px,0px,-160px) ;
    -ms-transform: perspective(900px) translate3d(0px,0px,-160px) ;
    -o-transform: perspective(900px) translate3d(0px,0px,-160px) ;
    transform: perspective(900px) translate3d(0px,0px,-160px) ;
    
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;    
    
    position:relative;
    display:block;
    max-width: 320px;
    min-height:100%;
    margin:0 auto;    

    &.extrude{
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -ms-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transition-duration:.5s;
        -moz-transition-duration:.5s;
        -ms-transition-duration:.5s;
        -o-transition-duration:.5s;
        transition-duration:.5s;
        will-change: transform;
    }
}

section > div{
    position:absolute;
    display:block;
    background: @bgcolor;    
    height: 110%;
    padding-bottom:50px;
    border-left: 1px solid #BEE1EF;
    border-right: 1px solid #BEE1EF;
}

.gr1{
    width:100%;
    left:0;
    top:0;
    -webkit-transform: translate3d(0,0,160px);
    -moz-transform: translate3d(0,0,160px);
    -ms-transform: translate3d(0,0,160px);
    -o-transform: translate3d(0,0,160px);
    transform: translate3d(0,0,160px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gr2{
    width:100%;
    left:100%;
    top:0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate3d(0,0,160px) rotate3d(0,1,0,90deg);
    -moz-transform: translate3d(0,0,160px) rotate3d(0,1,0,90deg);
    -ms-transform: translate3d(0,0,160px) rotate3d(0,1,0,90deg);
    -o-transform: translate3d(0,0,160px) rotate3d(0,1,0,90deg);
    transform: translate3d(0,0,160px) rotate3d(0,1,0,90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gr3{
    width:100%;
    left:0;
    top:0;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-180deg);
    -moz-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-180deg);
    -ms-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-180deg);
    -o-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-180deg);
    transform: translate3d(-160px,0,0) rotate3d(0,1,0,-180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gr4{
    width:100%;
    left:0;
    top:0;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-90deg);
    -moz-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-90deg);
    -ms-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-90deg);
    -o-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-90deg);
    transform: translate3d(-160px,0,0) rotate3d(0,1,0,-90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gr1_1{
    position:relative; 
    width:100%; 
    min-height:500px; 
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 45px;

    &.load{
        &:before{
            content: '';
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: @bgcolor;
            z-index: 9999;
            display: block;
            pointer-events: none;
            transition: .5s ease;
            opacity: 1;            
        }

        &:after{
            content: '';
            position: fixed;
            top:50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            width: 50px;
            height: 50px;
            background: url(../src/img/loading.svg) no-repeat;
            background-size: 100%;
            z-index: 99999;
        }
    }

    &.loaded{
        &:before{
            content: '';
            opacity: 0;
            transition: .5s ease;
        }

        &:after{
            content: '';
            opacity: 0;
            transition: .5s ease;
        }
    }
}
.middles-position{
    max-width:@content-width;
    margin:0 auto;
    padding: 5rem 1rem 0rem;
    background: transparent;
    font-family: GothamProLight, sans-serif;
    color: #36363D;
    line-height: 1.5rem;
}

.next{
    display: none;
    position:fixed;
    width:50px;
    height:50px;
    background: transparent;
    border: 3px solid #172c42;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:999;
    text-align:center;
    -webkit-transition:all .5s ease;
    transition:all 1s ease;
    cursor:pointer;

    &.right{
        top:50%;
        right:1rem;
    }

    &.left{
        left:1rem;
        top:50%;
    }

    i{
        font-size: 22px;
        margin-top: 25%;
        color: #172c42;
        -webkit-transition:all .5s ease;
        transition:all 1s ease;        
    }

    &:hover{
        -webkit-transition:all .5s ease;
        transition:all 1s ease;

        i{
            -webkit-transition:all .5s ease;
            transition:all 1s ease;
        }

        &~.pagetitle{
            display:block;
        }
    }
}