
/******************* roboto *************************/
@font-face {
  font-family: 'robotoregular';
  src: url('../src/fonts/roboto/Roboto-Regular.eot');
  src: url('../src/fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../src/fonts/roboto/Roboto-Regular.svg#robotoregular') format('svg'), /* Legacy iOS */ url('../src/fonts/roboto/Roboto-Regular.woff?4') format('woff'), /* Modern Browsers */ url('../src/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url('../src/fonts/roboto/Roboto-Medium.eot');
  src: url('../src/fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../src/fonts/roboto/Roboto-Medium.svg#robotomedium') format('svg'), /* Legacy iOS */ url('../src/fonts/roboto/Roboto-Medium.woff?4') format('woff'), /* Modern Browsers */ url('../src/fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('../src/fonts/Roboto-Light.eot');
  src: url('../src/fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../src/fonts/roboto/Roboto-Light.svg#robotolight') format('svg'), /* Legacy iOS */ url('../src/fonts/roboto/Roboto-Light.woff?4') format('woff'), /* Modern Browsers */ url('../src/fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/******************************************************/
@font-face {
    font-family: "GothamProBlack";
    src: url("../src/fonts/gothampro/GothamProBlack.eot");
    src: url("../src/fonts/gothampro/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../src/fonts/gothampro/GothamProBlack.woff") format("woff"),
    url("../src/fonts/gothampro/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProLight";
    src: url("../src/fonts/gothampro/GothamProLight.eot");
    src: url("../src/fonts/gothampro/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../src/fonts/gothampro/GothamProLight.woff") format("woff"),
    url("../src/fonts/gothampro/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/******************************************************/




@yellow: #FDF379;
@bgcolor: #eeefea;
@fontcolor: #5f6a79;
@red: #F44336;
@blue: #0E9AA7;




h1,h2,h3{
	font-family: 'robotoregular';
}

body{
    width:100%;
    height:100vh;
    font-family: 'robotoregular', sans-serif;
    font-weight: 300;
    background: #6dbbe2 url('../src/img/sky.png') top center no-repeat;
    overflow:hidden;
    color: @fontcolor;
}

html,body,ul{
    padding:0;
    margin:0;
    border:0;
}


/*header*/
header{
    position:fixed;
    top:0;
    width:100%;
    background: @bgcolor;
    z-index:999;
    height:60px;
}
header:before{
    clear:both;
}
header:after{
    clear:both;
}
header nav ul{
    list-style-type:none;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
header nav ul li{
    margin-right: 2rem;
    &:last-child{
        margin-right: 0;
    };
}
header nav ul li a{
    display:block;
    text-decoration: none;    
    letter-spacing: .05em;
    position: relative;
    font-family: robotoLight;
    color: @fontcolor;
    z-index: 1;
    text-transform: uppercase;
    font-size: .9rem;

    &:before{
        content: "";
        position: absolute;
        width: 115%;
        height: 4px;
        bottom: 5px;
        left: -5px;
        background: #FDF379;
        z-index: -1;
        opacity: 0;
        transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    };

    &:hover{
        &:before{
            transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
            opacity: 1;
        };
    };

    &.active{
        &:before{
            content: "";
            position: absolute;
            width: 115%;
            height: 4px;
            bottom: 5px;
            left: -5px;
            background: #FDF379;
            z-index: -1;
            opacity: 1;
        };
    }
}

nav{
    position: absolute;
    width: 230px;
    bottom: 0;
    text-align: right;
    left: -230px;
    background: @bgcolor;
    padding: 10px;
    padding-bottom:50px;
    transition:left 0.5s ease;
}
.mobile-link{
    position: relative;
    display: block;
    left:10px;
    width: 50px;
    height: 50px;
    cursor:pointer;
}
.mobile-link:before{
    content: '';
    position: absolute;
    top: 15px;
    display: block;
    width: 100%;
    height: 5px;
    background: #fff;
    transition:all 0.3s ease;
}
.mobile-link:after{
    content: '';
    position: absolute;
    top: 30px;
    display: block;
    width: 100%;
    height: 5px;
    background: #fff;
    transition:all 0.3s ease;
}
.close:before{
    transform:rotate(45deg);
    transition:all 0.3s ease;
    top:23px;
}
.close:after{
    transform:rotate(-45deg);
    transition:all 0.3s ease;
    top:23px;
}

/*end header*/

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
}

section{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; 
    
    -webkit-transform: perspective(900px) translate3d(0px,0px,-160px) ;
    -moz-transform: perspective(900px) translate3d(0px,0px,-160px) ;
    -ms-transform: perspective(900px) translate3d(0px,0px,-160px) ;
    -o-transform: perspective(900px) translate3d(0px,0px,-160px) ;
    transform: perspective(900px) translate3d(0px,0px,-160px) ;
    
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    
    -webkit-transition: all 2.6s;
    -moz-transition: all 2.6s;
    -o-transition: all 2.6s;
    -ms-transition: all 2.6s;
    transition: all 2.6s;
    
    /*медленно--быстро--медленно*/
    -webkit-transition-duration:2s;
    -moz-transition-duration:2s;
    -ms-transition-duration:2s;
    -o-transition-duration:2s;
    transition-duration:2s;
    -webkit-transition-timing-function: cubic-bezier(.75,.1,0,1);
    -moz-transition-timing-function: cubic-bezier(.75,.1,0,1);
    -ms-transition-timing-function: cubic-bezier(.75,.1,0,1);
    -o-transition-timing-function: cubic-bezier(.75,.1,0,1);
    transition-timing-function: cubic-bezier(.75,.1,0,1);
    
    /*c возвратом*/
    /*transition-duration:1.1s;
    transition-timing-function: cubic-bezier(0,-0.07,.05,1.46);*/
    
    /*отскакивание*/
    /*transition-duration:1.1s;
    transition-timing-function: cubic-bezier(.63,1.64,0,.7);*/
    
    position:relative;
    display:block;
    max-width: 320px;
    min-height:100%;
    margin:0 auto;
}

section > div{
    position:absolute;
    display:block;
    background: @bgcolor;
    height: 110%;
    padding-bottom:50px;
    overflow: hidden;
}

.gr1{
    width:100%;
    left:0;
    top:0;
    -webkit-transform: translate3d(0,0,160px);
    -moz-transform: translate3d(0,0,160px);
    -ms-transform: translate3d(0,0,160px);
    -o-transform: translate3d(0,0,160px);
    transform: translate3d(0,0,160px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gr2{
    width:100%;
    left:100%;
    top:0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate3d(0,0,160px) rotate3d(0,1,0,90deg);
    -moz-transform: translate3d(0,0,160px) rotate3d(0,1,0,90deg);
    -ms-transform: translate3d(0,0,160px) rotate3d(0,1,0,90deg);
    -o-transform: translate3d(0,0,160px) rotate3d(0,1,0,90deg);
    transform: translate3d(0,0,160px) rotate3d(0,1,0,90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gr3{
    width:100%;
    left:0;
    top:0;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-180deg);
    -moz-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-180deg);
    -ms-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-180deg);
    -o-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-180deg);
    transform: translate3d(-160px,0,0) rotate3d(0,1,0,-180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gr4{
    width:100%;
    left:0;
    top:0;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-90deg);
    -moz-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-90deg);
    -ms-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-90deg);
    -o-transform: translate3d(-160px,0,0) rotate3d(0,1,0,-90deg);
    transform: translate3d(-160px,0,0) rotate3d(0,1,0,-90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gr1_1{
    position:relative; 
    width:100%; 
    min-height:500px; 
    height: 100%;
    overflow-y: auto;
    padding-bottom: 50px;

    &.load{
        &:before{
            content: '';
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            z-index: 999;
            display: block;
            pointer-events: none;
            transition: .5s ease;
            opacity: 1;
        }
    }

    &.loaded{
        &:before{
            content: '';
            opacity: 0;
            transition: .5s ease;
        }
    }
}
.inner{
    max-width:1000px;
    margin:0 auto;
    padding: 5rem 0 0;
    background: transparent;
    font-family: GothamProLight, sans-serif;
    color: #000;
    line-height: 1.5rem;
}

.next{
    position:fixed;
    width:50px;
    height:50px;
    background: transparent;
    border: 3px solid @red;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:999;
    text-align:center;
    -webkit-transition:all .5s ease;
    transition:all 1s ease;
}
.next:hover{
    -webkit-transition:all .5s ease;
    transition:all 1s ease;
    cursor:pointer;
}
.next:hover i{
    -webkit-transition:all .5s ease;
    transition:all 1s ease;
}
.next:hover ~ .pagetitle{
    display:block;
}
.next i{
    font-size: 22px;
    margin-top: 25%;
    color: @red;
    -webkit-transition:all .5s ease;
    transition:all 1s ease;
}
.right{
    top:50%;
    right:2rem;
}
.left{
    left:2rem;
    top:50%;
}

/*.pagetitle{
    position: absolute;
    top: 0;
    border: 2px solid rgba(74, 155, 195, 1);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(74, 155, 195, 1);
    display:none;
}
.prev{
    left: 70px;
    width: 150px;
    line-height: 30px;
}
.postv{
    right: 70px;
    width: 150px;
    line-height: 30px;
}*/





/****FOOTER*****/
/*footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width:100%;
    background: @bgcolor;

    .wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
        font-size: .9rem;
        letter-spacing: .05em;
        font-family: robotoLight;

        p{
            margin: 0;
        }
    }
}*/


/******************************************************************************************/